@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Update FoodItem";
}
@model StoreManagement.DTO.FoodItemDTO
@using Microsoft.AspNetCore.Mvc.Rendering

<div class="container">
    <h2>Edit FoodItem</h2>
    <form asp-action="Update" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" required />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" required></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FoodCategoryId">FoodCategory</label>
            <select asp-for="FoodCategoryId" asp-items="ViewBag.FoodCategories" class="form-control"></select>
        </div>
        <div class="form-group">
            <label asp-for="ImageUrl">Food Image</label>
            <input type="file" asp-for="ImageUrl" class="form-control" id="imageInput" />
            <img id="previewImage" style="max-width:200px; display= none;" src="@Model.ImageUrl" alt="FoodItem Image" />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
        <button asp-action="Index" type="submit" class="btn btn-info">Cancel</button>
    </form>
</div>
<script>
    document.getElementById('imageInput').addEventListener('change', function (event) {
        var output = document.getElementById('previewImage');
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                output.src = e.target.result;
                output.style.display = 'block';
            };
            reader.readAsDataURL(this.files[0]);
        }
    });
</script>