
@model StoreManagement.DTO.FoodCategoryDTO
@using Microsoft.AspNetCore.Mvc.Rendering

<div class="bg-white vh-100 mt-4">
    <div class="edit--wrapper container border shadow rounded-3 p-4 w-75">
        <header class="fw-bold fs-5 text-center text-black mb-2">Thêm loại món ăn</header>
        <div class="form-edit">
            <form action="/owner/category/create" method="post">
                <div class="form-group">
                    <label asp-for="Name">Tên loại món ăn</label>
                    <input asp-for="Name" class="form-control" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StoreId">Tên quán: </label>
                    <select asp-for="StoreId" asp-items="ViewBag.List" class="form-control">
                        <option value="">Chọn quán</option>
                    </select>
                    <span asp-validation-for="StoreId" class="text-danger"></span>
                </div>
                <div class="d-flex align-items-center gap-2 mt-2">
                    <button type="submit" class="btn btn-primary">Tạo</button>
                    <a class="btn btn-red-custom" href="/owner/category/index">Trở về Menu</a>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
