@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<StoreManagement.DTO.FoodCategoryDTO>
@{
    ViewData["Title"] = "FoodCategory";
}

<div class="container d-flex align-items-center h-100">
    <div class="management--wrapper">
        <div class="actions">
            <div class="action-search">
                <form asp-action="Search" method="post">
                    <div class="form-group w-100">
                        <div class="d-flex align-items-center gap-2">
                            <label>Tìm kiếm </label>
                            <input type="text" placeholder="Search here..." id="txtSearch" class="form-control m-1" style="width:50%"/>
                        </div>
                    </div>

                </form>
            </div>
            <div class="action-add">
                <a href="/owner/category/create" class="btn btn-red-custom d-flex gap-2 align-items-center"> <i class='bx bx-plus'></i> <span>Thêm loại món ăn</span></a>
            </div>
        </div>
    
        <div class="content">
        <div class="container mt-5 px-2"> 
            <div class="table--wrapper border-3">
                    <table class="table table-responsive">
                        <thead>
                            <tr class="bg-light">
                                <th scope="col" width="20%">Tên loại</th>
                                <th scope="col" width="10%">-</th>
                                <th scope="col" width="15%">-</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var category in Model)
                            {
                                <tr class="table-item">
                                    <td>@category.Name</td>
                                    <td>@category.Store.StoreName</td>
                                    <td>
                                        <a href="/owner/category/update/@category.Id" class="btn btn-primary-custom">Chỉnh sửa</a>
                                        <buton type="buton" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-@category.Id">Xóa</buton>
                                    </td>
                                </tr>
                                <div class="modal fade" id="modal-@category.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">
                                        Bạn có chắc chắn muốn xóa loại @category.Name không ?
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                        <form action="/owner/category/deleteconfirmed" method="post">
                                            <input value="@category.Id" name="id" class="d-none">
                                            <button type="submit" class="btn btn-primary-custom">Đồng ý</button>
                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            }
                        </tbody>
                    </table
            </div>
        </div>
    </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        $('#txtSearch').keyup(function () {
            var typeValue = $(this).val();
            $('tbody tr').each(function () {
                if ($(this).text().search(new RegExp(typeValue, "i")) < 0) {
                    $(this).fadeOut();
                } else {
                    $(this).show();
                }
            })
        });
    });
</script>
