@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<StoreManagement.DTO.FoodItemDTO>
<h2>Add Menu Item</h2>
@functions {
    // Hàm kiểm tra xem một món đã tồn tại trong danh sách MenuDetail hay không
    bool ExistsInMenuDetail(int menuId, int foodItemId,int storeId)
    {
        foreach (var menuDetail in ViewBag.MenuDetails)
        {
            if (menuDetail.MenuId == menuId && menuDetail.FoodItemId == foodItemId)
            {
                var stores = menuDetail.FoodItems.FoodCategory.StoreId;
                // Kiểm tra xem StoreId của món ăn và StoreId từ ViewBag có giống nhau không
                if (stores == storeId)
                {
                    return true;
                }
            }
        }
        return false;
    }
}
@{
    //lấy giá trị của tham số từ URL bằng cách sử dụng ViewContext
    var menuId = ViewContext.HttpContext.Request.Query["menuId"];
    var storeId = ViewBag.StoreId;
}
<form asp-action="AddMenuItem" method="post">
    <div class="form-group">
        <label for="menuId">Menu ID:</label>
        <input type="text" class="form-control" id="menuId" name="menuId">
    </div>
    <div class="form-group">
        <label for="foodItemId">Select Food Item:</label>
        <select class="form-control" id="foodItemId" name="foodItemId">
            @foreach (var foodItem in ViewBag.FoodItems)
            {
                // Kiểm tra nếu món đã tồn tại trong danh sách menuDetail
                var existsInMenuDetail = ExistsInMenuDetail(int.Parse(menuId), int.Parse(foodItem.Value), storeId);
                // Nếu món chưa tồn tại, hiển thị trong dropdown
                if (!existsInMenuDetail)
                {
                    <option value="@foodItem.Value">@foodItem.Text</option>
                }
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>
<script>
    // Lấy giá trị menuId từ URL và điền vào trường input menuId
    document.addEventListener('DOMContentLoaded', function () {
        var urlParams = new URLSearchParams(window.location.search);
        var menuId = urlParams.get('menuId');
        document.getElementById('menuId').value = menuId;
    });
</script>

