<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StoreManagement</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/StoreManagement.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid vh-100">

        <div class="row h-100 bg-gradient-custom">
            <div class="col-lg-2 h-100">
                <div class="d-flex flex-column flex-shrink-0 p-2 text-white bg-gradient-custom vh-100">
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="/admin/home" class="nav-link text-white d-flex align-items-center gap-2" aria-current="page">
                                <i class='bx bx-user'></i>
                                Tổng quan
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class='bx bxs-user'></i>
                            <strong>admin</strong>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="/auth/logout">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            
        </div>
            <div class="col-lg-10 bg-white vh-100 d-flex align-items-center justify-content-center">
                <main role="main" class="w-100">
                    @RenderBody()
                </main>
            </div>
    </div>
    <script language="javascript">


    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
