@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
Thank you for your order
<h2>Store ID: @ViewBag.IdStore</h2>
<h2>Table ID: @ViewBag.IdTable</h2>
<h2>List of Food: @ViewBag.ListFood</h2>
