body {
}

.nav-item {
    margin-bottom: 12px;
    border-radius: 8px;
    transition: 0.2s ease-in;
}

.nav-item:hover {
    background-color: var(--red-gradient);
    transform: translateX(15px);
    color: black;
}

    .nav-item.active-item {
        background-color: var(--red-gradient);
        transform: translateX(10px);
        color: black;
    }
.nav-item {
    font-weight: 500;
}