@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var appUsers = ViewData["appUsers"] as IEnumerable<StoreManagement.DTO.AppUserDTO>;
}
@model IEnumerable<StoreManagement.DTO.StoreDTO>

<div class="management-store--wrapper">
    <header>
        <h1 class="text-center">Quản lý cửa hàng</h1>
    </header>
    <div class="store-action">
        <div class="action-search">
            <form asp-action="Search" method="post">
                <div class="form-group w-100">
                    <div class="d-flex align-items-center gap-2">
                        <div>
                            <input type="text" placeholder="Search here..." id="txtSearch" class="form-control m-1" style="width:50%" />
                        </div>
                    </div>
                </div>
                
            </form>
        </div>
        <div class="action-add">
            <a asp-action="Add" class="btn btn-primay-custom d-flex gap-2 align-items-center"> <i class='bx bx-plus'></i> <span>Thêm cửa hàng</span></a>
        </div>
    </div>

</div>

<table class="table">
    <thead>
        <tr>
            <th>Name Store</th>
            <th>Name Owner</th>
            <th>Phone Number</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var store in Model)
        {
            <tr>
                <td>@store.StoreName</td>
                <td>
                    @{
                        var appUser = appUsers.FirstOrDefault(c => c.Id == store.UserId);
                        var nameUser = appUser != null ? appUser.Name : "No User Owner";
                    }
                    @nameUser
                </td>
                <td>
                    @{
                        
                        var phoneUser = appUser != null ? appUser.PhoneNumber : "No Phone User";
                    }
                    @phoneUser
                </td>
                <td>@store.AddressStore</td>
                <td>
                    <a asp-action="Update" asp-route-id="@store.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@store.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .store-action {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    .action-search {
        width: 800px;
    }

    .store-action button {
        min-width: 100px;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        $('#txtSearch').keyup(function () {
            var typeValue = $(this).val();
            $('tbody tr').each(function () {
                if ($(this).text().search(new RegExp(typeValue, "i")) < 0) {
                    $(this).fadeOut();
                } else {
                    $(this).show();
                }
            })
        });
    });
</script>