@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add Menu";
}
@model StoreManagement.DTO.MenuDTO

<h2>Thêm mới menu</h2>

<form action="/owner/managementmenu/create" method="post">
    <div class="form-group">
        <label asp-for="@Model.StoreId">Tên quán: </label>
        <select asp-for="@Model.StoreId" asp-items="ViewBag.List" class="form-control">
            <option value="">Chọn quán</option>
        </select>
        <span asp-validation-for="@Model.StoreId" class="text-danger"></span>
    </div>
    <div class="d-flex gap-2 mt-4">
        <button type="submit" class="btn btn-primary-custom">Tạo</button>
        <a href="/owner/managementmenu/index" class="btn btn-red-custom">
            Trở về
        </a>
    </div>
    
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
