@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add Table";
}
@model StoreManagement.DTO.TableDTO
@using Microsoft.AspNetCore.Mvc.Rendering

@ViewBag.List
<form href="/owner/managementtable/create" method="post">
    <div class="form-group">
        <label asp-for="StoreID">Tên quán: </label>
        <select asp-for="StoreID" asp-items="ViewBag.List" class="form-control">
            <option value="">Chọn quán</option>
        </select>
        <span asp-validation-for="StoreID" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Tạo</button>
    <a class="btn btn-red-custom" href="/owner/managementtable/index">Trở về</a>

</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
